@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700&display=swap');

/* MAIN PAGE */

.mainStart {
    background: #000;
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('../img/mainBack.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
}

.mainStart::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.85;
    z-index: 1;
}

.bottom__row {
    position: absolute;
    bottom: 50px;
    width: 1200px;
}

.mainStart > * {
    z-index: 100;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
    right: 0;
}

.bottom {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.player {
    color: #fff;
}

.player i {
    font-size: 24px;
}

#volumeOff {
    display: none;
}

.main__title,
.main__title--large {
    font-family: Cinzel Decorative;
    font-size: 22px;
    color: #fff;
}

.main__title--large {
    font-size: 74px;
}

.main__btn {
    margin-top: 100px;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 25px;
    font-size: 16px;
    background: transparent;
    font-family: Cinzel Decorative;
    font-weight: 700;
}

.main__btn:hover {
    background: #fff;
    color: #000;
    border-color: #000;
}

.main__rules {
    color: #fff;
    font-family: Cinzel Decorative;
    font-size: 16px;
}

.main__rules--link:hover {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.modal-header {
    font-family: Cinzel Decorative;
}

.modal-header .close {
    color: #fff;
}

.modal-body,
.modal-header,
.modal-footer {
    color: #fff;
    background: #000;
}

.modal-body {
    padding: 30px 0;
}

.modal-header,
.modal-footer {
    border-color: #1a1a1a;
}


.modal-footer {
    justify-content: center !important; /* Override Bootstrap */
}

.modal-footer button,
#start__btn {
    background: transparent;
    color: #fff;
    font-family: Cinzel Decorative;
    padding: 10px 25px;
    font-size: 16px;
    border: 1px solid #fff;
}

.modal-footer button:hover,
#start__btn:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
}


.rule__title {
    text-align: center;
    font-family: Cinzel Decorative;
    font-size: 22px;
    margin-bottom: 10px;
}

.rule__list {
    text-align: center;
    list-style: none;
    padding: 0;
}

.rule__list li {
    line-height: 3;
    font-family: Cinzel Decorative;
}

/* CHAR SELECT */

#boardLogoChar {
    width: 200px;
    margin: 10px 0;
}

.flex-row {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

#select__char,
#born,
#gender {
    display: none;
}

.charCard {
    background: #000;
    flex: 1 0 17.2%;
    width: 100%;
    border: 2px solid #4D4D4D;
    border-radius: 10px;
    height: 125px;
    margin: 20px 20px 20px 0;
    color: #fff;
    font-family: Cinzel Decorative;
    padding: 34px 20px;
}

.charCard.selected {
    border: 2px solid #fff;
}

.instruct__label {
    display: none;
    position: relative;
    width: 60px;
    top: 0;
    background: #000;
    border: 2px solid #fff;
}

.charCard:hover {
    border: 2px solid #fff;
    cursor: pointer;
}

.instruct__char,
.instruct__player {
    color: #fff;
    font-family: Cinzel Decorative;
    font-size: 22px;
}

.instruct__player {
    font-size: 18px;
    color: #707070;
}

.instruct__player.active {
    color: #fff;
}

.char__house,
.char__name,
.char__title {
    color: #A0A0A0;
    font-family: Cinzel Decorative;
}

.char__house {
    font-size: 14px;
}

.char__name {
    font-size: 38px;
}

.char__title {
    font-size: 16px;
    font-family: Open Sans;
}

.char__select {
    width: 220px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    padding: 10px 0;
    font-family: Cinzel Decorative;
}

.char__select:hover {
    color: #000;
    background: #fff;
    cursor: pointer;
}
/* GAME */

#boardLogoGame {
    width: 200px;
    margin: 20px auto 40px auto;
}

.playerOneArea,
.playerTwoArea {
    background: #000;
    height: 100vh;
    width: 15%;
    display: inline-block;
    text-align: center;
}

.playerOneArea {
    float: left;
}

.playerTwoArea {
    float: right;
}

.board {
    width: 100%;
    height: 100vh;
    background: #1a1a1a;
    display: inline-block;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.playerTitle,
.playerChar {
    font-size: 20px;
    font-family: Cinzel Decorative;
    color: #fff;
    font-weight: 600;
    padding-top: 20px;
}

.playerChar {
    font-weight: 400;
    padding-top: 10px;
    font-size: 16px;
}

.rollArea {
    width: 100%;
    height: 100%;
    height: 100vh;
    background: #000;
    text-align: center;
    padding-top: 60px;
}

#rollOne,
#rollTwo {
    display: block;
    background: transparent;
    border: 1px solid #fff;
    font-family: Cinzel Decorative;
    color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
    z-index: 999;
    font-weight: 700;
    margin: 0 auto;
}

#rollOne:hover,
#rollTwo:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
}

#rollDesc {
    color: #fff;
    font-family: Cinzel Decorative;
    font-size: 16px;
    padding: 10px 0;
    display: none;
}

#rollIsSix {
    color: green;
    font-family: Cinzel Decorative;
}

/****
DICE
*****/

#diceRoll {
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 40px auto;
}

.score {
    font-size: 16px;
    font-family: Cinzel Decorative;
    color: #fff;
}

.scoreHR {
    border: 1px solid #fff;
    width: 30%;
}


/* 
GZ
*/

#playAgain {
    background: transparent;
    border: 1px solid #fff;
    font-family: Cinzel Decorative;
    color: #fff;
    margin: 150px 0;
    padding: 10px 25px;
    font-weight: 700;
}

#playAgain:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
}
.sp-container {
    width: 1140px;
}

.sp-container h2 {
	position: absolute;
	top: 50%;
	margin-top: -50px;
	font-size: 90px;
	width: 100%;
	text-align: center;
    color: transparent;
    font-size: 40px;
    font-family: Cinzel Decorative;
    font-weight: 700;
	-webkit-animation: blurFadeInOut 3s ease-in backwards;
	-moz-animation: blurFadeInOut 3s ease-in backwards;
	-ms-animation: blurFadeInOut 3s ease-in backwards;
	animation: blurFadeInOut 3s ease-in backwards;
}
.sp-container h2.frame-1 {
    width: 100%;
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	animation-delay: 0s;
}
.sp-container h2.frame-2 {
    width: 100%;
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
}
.sp-container h2.frame-3 {
    width: 100%;
	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
}


@-webkit-keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-webkit-transform: scale(0);
	}
}
@-webkit-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		-webkit-transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
}


/**/

@-moz-keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-moz-transform: scale(0);
	}
}
@-moz-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
}

/**/

@keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		transform: scale(0);
	}
}
@keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
}

/* MOBILE */

@media screen and (max-width: 900px) {
    #boardLogo {
        width: 100%;
    }

    .main__title--large {
        font-size: 42px;
    }

    .bottom__row {
        width: 100%;
    }

    .bottom__row .col-sm-6 {
        display: inline-block;
        width: 50%;
        bottom: 10px;
    }

    .row .col-sm-6 {
        display: inline-block;
        width: 50%;
        margin-bottom: 20px;
    }

    .mainStart .container .row .col-sm-12 {
        text-align: center;
        margin: 20px 0;
    }

    .charCard {
        width: 50px;
        height: 75px;
        padding: 10px;
        font-size: 12px;
    }
}